/*Tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
    
    /* Menú */
    .menu{
     display: flex;
     flex-direction: column;
   }

    .menu__list{
       display: flex;
       flex-direction: column;
       align-items: flex-end;
   }
   .menu__list li{
    margin-bottom: 15px;
   }
    nav#botoneraMovil{
        position: absolute;
        width: 90%;
        height: auto;
        top: -100%;
        right: 1;
        transition: left .5s;
    }
    input#botonMovil{
        display: none;
    }
    label#labelMovil span{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 100px;
        right: 60px;
        background: url(./assets/menu-line1.png) no-repeat;
    }
    label#labelMovil span:hover{
        background: url(./assets/menu-line2.png) no-repeat;
    }
    input#botonMovil:checked + label#labelMovil span{
        background: url(./assets/menu-line3.png) no-repeat;
    }
    input#botonMovil:checked ~ nav#botoneraMovil{
        right: 50px;
        top: 115px;
    }
    
     
    
    
    /*title*/
    .title__div{
        display: block;
    }
    .title__img{
        display: flex;
        justify-content: center;
    }
    /*Skills*/
    .skills__line ,.hobbies__line{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
     }
    /*Hobbies*/
    
    /*Formación Académica*/
    
    /*Experiencia Profesional*/
    .experiencie__box{
        display: flex;
        flex-direction: column;
    }
    .experience__img{
        max-width: 704px;
        max-height: 320px;
    }
    /* contacto */
    .formcontato__img{
        display: none;
    }
    .formcontato--esquerda{
        margin: 0;
    }
}    